:root {
  --primary-color: #4caf50;
  --bg-color: #f0f0f0;
  --card-bg: #ffffff;
  --main-bg: hsl(216, 12%, 8%);
  --card-bg: hsl(213, 19%, 18%);
  /*   --White: hsl(0, 0%, 100%); */
  box-sizing: border-box;
  --Orange-500: hsl(25, 97%, 53%);
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--White);
  padding-inline: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 4rem;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s;
}

.tab.active {
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

.tab-content {
  box-sizing: border-box;
  display: none;
  width: 100%;
  max-width: 450px;
}

.abc {
  background: var(--card-bg);
  padding: 25px;
  padding-top: 12px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.tab-content.active {
  display: block;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-block: 10px;
  box-sizing: border-box;
  background-color: var(--card-bg);
  color: var(--white);
}

input[type="number"]:focus {
  border: 3px solid var(--card-bg);
}

.output p {
  font-size: 18px;
  margin: 1rem 0;
}

.output span {
  font-weight: bold;
}

.copybutton {
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--main-bg);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.togglebutton {
  width: 100%;
  max-width: 450px;
  padding: 12px 16px;
  background: var(--card-bg);
  border: none;
  text-align: left;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  color: var(--White);
}

.expanded {
  border-radius: 16px 16px 0 0;
}

.togglebutton .arrow {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.sale-section {
  border-radius:8px;
}



@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .tab {
    padding: 8px 12px;
    font-size: 14px;
  }

  .output p {
    font-size: 16px;
  }
}

.invisi {
  padding-right: 2rem;
    padding-left: 2rem;
}
